@font-face {
    font-family: fontTitre;
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: fontContenu;
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

 /*ici commence le header*/

.menu{
    font-family: fontTitre;
    display:flex;
    padding: 0;
    background-color: black;    
    align-items: center;
    justify-content: center;

}

.menu div{
    display: block; 
    padding-top: 15px;
    min-width: 200px;
}
.icone{
    display: block;  
    margin: 18px;
    border: solid 3px #FAB637;
    padding: 5px;
    border-radius: 50%;
}
.white{
    color: white;
}
.menu h1{
    color: white;
}
.logo{
    color: white;
    display: block;
    margin-left: 18px;
}


.menu div div{
    display: flex;
    min-width:0;
    padding-top:0;
}
.menu div div div{
    display: block;
    min-width:0;
    margin-right: 18px;
}
.orange{
    color: #FAB637;
}

.titre{
    margin-bottom: 0;
}
.titremilieu{
    margin-top: 0;
    margin-bottom: 0;
}
.titrebas{
    margin-top: 0;
}


/*ici commence la barre de navigation */

.navigation{
    display: flex;
    background-color: #bbc3cf;
    align-items: center;
    justify-content:right;
    opacity:100%;
    margin: 0;
    padding: 0;
    min-width: none;
    min-height: 50px;
}

.navigation div{
    
    display: block;
    padding: 18px;
    opacity: 100%;
    /* margin:18px; */
    font-family: fontContent;
    color:#232628;
    height: 100%;
    margin: 0;
}
.navigation div a{
    color:#232628; 
    text-decoration: none;
}
.navigation div a:hover{
    color:#FFFFFF; 
    text-decoration: none;
}

.contact{
    padding-right: 300px;
}

.navigation div:hover{
    background-color:#FAB637 ;
    color: white;
}


.titrenavigation{
    display:flex;
    background-color: black;
    border: solid white;
    margin:0;
    padding:0;
    
}

/*ici commence les articles*/

.titrearticle{
    font-family: fontTitre;
    color: black;
}

.particle{
    font-family: fontContenu;
}
h2{
    font-family: fontTitre;
    
}

h3{
    font-family: fontTitre;
}

.articleimage{
    display: flex;
    height: 450px;
    max-width: 400px;
}

.alignementimage-1{
    float:left
}

.textearticle{
    display: block;
    height: 300px;
    width: 700px;
}

.articletotal{
    display: flex;
}

.articlepuce{
    list-style-type: none;
}



/*pour la barre de navigation*/

.card{
   
    min-width: 500px;
}
.card-body{
    /* min-height: 800px; */
    display: flex;
    align-items: center;
    justify-items: center;
}

.card-body img{
    width: 100%;
    height: auto;
}

.card-title{
    display: flex;
    min-height: 75px;
    background-color:#232628 ;
}

.card-title h2{
    padding-left: 80px;
}


/*ici commence la barre image*/

.imagefond{
    background-image: url( ..//images/vente-location.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-items: center;
    display: flex;
}

.fond{
    display: flex;
     min-height: 500px;
     justify-content: center;
     background-image: url( ..//images/vente-location.jpg);
     background-size:cover;
}

.carreorange{
    display: flex;
    border: none;
    background-color: #FAB637;
    width: 450px;
    height: 150px;
    padding: 18px;
    opacity: 80%;
    margin-top: 200px;
}

.carrerouge{
    display: flex;
    border: none;
    background-color:#FF4848;
    width: 450px;
    height: 150px;
    padding: 18px;
    opacity: 75%;
    margin-top: 200px;
    margin-left: 18px;
}


/*vehicules lents */

.vehicule{
    background-color: #232628;
    display: block;
    height: 400px;
    
}


.cardvehicule{
    margin: 15px;
    display: block;
    max-width: 250px;
}
.card-bodyvehicule{
    display: flex;
}

.card-bodyvehicule img{
    width: 100%;
    height: auto;
}

.card-titlevehicule{
    display: flex;
    min-height: 50px;
    background-color:#232628;
    margin-top: 10px;
    text-align: center;
   
    
}

.card-titlevehicule h6{
    padding-left: 20px; 
    display: block;
    color: white;
    margin:0;
   
}
.boutonprix{
    display: block;
    background-color:#6C98E1 ;
    padding-top: 5px;
    padding-bottom: 15px;
    color: white;
    width: 75px;
    height: 10px;
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 15px;
}
.description{
    padding-top:20px ;
   
}
.titrevehicule{
    color: white;
    font-family: fontTitre;
    display: flex;
    justify-content: center;
}

/*ici commence le pourquoi choisie*/

.choisirtitre{
    display: flex;
    justify-content: center;
    font-family: fontTitre;
}

.choisirbis{
    display: flex;
    justify-content: center;
}

.iconechoisir{
    color:#CC6119 ;
    padding-top: 20px;
    margin: 20px;
}


/*bouton contact*/

.boutoncontact{
    display: inline;
    background-color:#6C98E1 ;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    width: 150px;
    height: 10px;
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 15px;
}

/*derniere partie avant footer*/

.imagefond2{
    padding-top: 100px;
    background-image: url(..//images/vehicule3.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-bottom: 0;
    flex-grow: 1;
}

.carreorange2{
    margin-left: 25%;
    display: block;
    background-color:#FAB637 ;
    width: 350px;
    height: 150px;
    padding: 18px;
    opacity: 80%;
    padding: 25px;
 

}

.titreventelocation{
    padding:0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.particle-ventelocation{
    display: block;
    font-family: fontContenu;
    font-size: 10px;
    max-width: 200px;
}



/*classe display*/

.d-flex{
    display: flex;
}

.d-inlineblack{
    display: inline-block;
}

.d-block{
    display: block;
}

.d-inlineblock h6{
    font-family: fontTitre;
}

.d-inlineblock p{
    font-family: fontContenu;
    white-space: normal;
    max-width: 200px;
    font-size: x-small;

}

/*ici commence le dernier carré avant le footer*/

.fond2{
    display: flex;
     min-height: 500px;
     justify-content: center;
     background-image: url( ..//images/vehicule3.jpg);
     background-size:cover;
}


/*ici commence le footer*/



.footer{
    padding: 0;
    background-color: black;    
    color: #ECEFF3;
    min-height: 200px;
    margin-top: 0;
}
.footerd-block{
    display: block; 
    padding-top: 15px;
    min-width: 300px; 
    margin-right: 35px;
}
.footerd-flex{
    display: flex;
    min-width:300px;
    padding-top:0;
}
.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.d-flex-center-simple{
    display: flex;
    justify-content: center;
}
.reseau{
    display: block;  
    margin: 5px;
    border: solid 3px black ;
    padding: 10px;
    color: #ECEFF3;
    background-color: rgb(45, 44, 44);
}
.titrereseau{
    margin-top: 0;
    margin-bottom: 18;
}
.footertitre{
    font-family:fontTitre ;
}
.footerparagraphe{
    font-family:fontContenu ;
    white-space: normal;
    max-width: 300px;
}
.footerparaphe2{
    font-family: fontContenu;
    color: black;
    justify-content: center;
    padding-left: 20;
}

.fleche{
    border: black;
    background-color: #e69f1b;
    color: #FFFFFF ;
    padding: 5px;
}

/*retour a la ligne */
.backline{
    white-space: normal;
}

.horaire{
    margin-bottom: 10px;
}
.newsletter{
    margin-top: 10px;
}


/*couleur*/

.white{
    color: #FFFFFF;
}

.grey{
    color:#ECEFF3 ;
}

.black{
    color: black;
}



/*PAGE DETAIL VENTE*/

 /* Style the list */
 ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color:none;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 14px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #ECEFF3;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  } 

  /*definition de la barre de navigation*/

  .navigationdetail{
    background-color: #232628;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
  }

  /*couleur texte barre*/

  .textenavigation{
    color:white;
    margin:10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
  }

/*survol barre de navigation*/

/*mets le texte en noir lors du survol*/

  .navigationdetail div h5:hover{
    color:#232628; 
    text-decoration: none;
}

/*carre de survol blanc avec bordure top orange*/
.navigationdetail div:hover{
    background-color:white ;
    color:#232628;
    border-top:#FAB637 solid;
}

/*texte descriif de la barre de navigation*/

.textedescriptif{
    margin-left: 400px;
    margin-top: 18px;
    color:#232628 ;
    justify-content: center;
    font-family: fontContenu;
    font-size: x-small;
    width: 500px;
}

/*effectue un retrait sur le troisème paragraphe*/
.p3{
padding-left: 18px;
}

/*bordure orange sans retrait sur le paragraphe*/
.bordurep3{
    border-left: solid #FAB637;
}

.option{
    display: block;
    list-style-type: none;
    
}

.imagedetailvente{
    display: block;
    justify-content: center;
    margin-left: 400px;
}

.renseignement{
    width: 500px;
}



/*ICI COMMENCE LA PAGE CONTACT*/

.imagefond3{
    background-image: url(/images/vehicule1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-items: center;
    display: inline-flex;
}

.asterix{
    color: #FF4848;
    font-size: xx-small;
    margin-top: 10px;
    display: inline;
}

.formulaire{
    margin: 5px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 150px;
}

.boutonenvoyez{
    background-color: #6C98E1;
    color: white;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 50px;
}

.label{
    display: inline;
    padding: 0;
    margin: 0;
}






/*contour du formulaire*/

.contour{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    display: block;
    min-width: 500px;
    max-height: 250px;
    margin-top: 50px;
}

.bodycontact{
    display: flex;
    background-image: url(..//images/vehicule3.jpg);
    background-size: cover;
    align-content: center;
    justify-content: center;
    min-height: 500px;
}

.formulairebis{
    margin-bottom: 20px;
}

.titrecontact{
    font-family: fontTitre;
    color: black;
    margin: 20px;

}


/*pour le champ message*/


.message{
    display: block;
    padding-bottom: 0;
    min-height: 65px;
    min-width: 300px;
    resize: none;
}

.champformulaire{
    border: none;
    background-color:#ECEFF3 ;
    padding-left: 18px;
    height: 20px;
    min-width: 150px;

}

.ecritureformulaire{
    font-size: xx-small;
    font-family: titreContenu;
}


/*Page vente*/

.bandeauvente{
    background-image: url(../images/vente-location.jpg);
    height: 100px;
    
}

.bandeauvente h1{
    margin-left: 75px;
    margin-top: 0px;
    padding-top: 20px;
    color: white;
    font-family: fontTitre;

}



/*PAGE VENTE*/

/*photo présente dans la page pour illustrer les voitures en ventes*/

.voiturevente{
    width: 300px;
    height: 200px;
}

/*bloc image*/
.voitureventebis{
    margin-top: 20px;
    margin-bottom: 20px;
}

.ventedescription{
    max-width: 500px;
    position: relative; /*div parent*/
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.boutonvente{
    position: absolute; /*div enfant*/
    top: 0;
    right: 0;
    background-color:#6C98E1 ;
    color: white;
    padding-left: 30px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: fontContenu;
    font-size: 18px;
}

/*bandeau noir rechercher*/
.bandeaurechercher{
    border: solid black;
    background-color:#232628 ;
    color: white;
    padding-left: 30px;
}

/*bandeau blanc rechercher*/

.contourrechercher{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left:30px ;
    height: 750px;
}

.contourdebord{
    min-width: 250px;
    margin-top: -20px;
}

.ordre{
    font-family: fontContenu;
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 10px;
    padding-top:5px;
}

/*menu déroulant tri*/

.tri{
    display: flex;
    justify-content: center;
    min-width: 230px; 
    margin-top: 20px;
}
.select-tri{
    display: block;
    width: 200px; 
    height: 45px;
    border: none;
    padding-left: 10px;
}
.select-ordre{
    display: block;
    width: 200px; 
    margin-top: 20px;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    
}

/*retirer le surlignement des liens hypertexte*/

a{
    text-decoration: none;
}

/*case composant le menu deroulant*/
.inputvente{
    margin: 10px;
    width: 90px;
    display: block;
    height: 35px;
    border: none;
    background-color:#ECEFF3 ;
    text-align: center;
}

/*Bouton de réinitialisation du tri*/
.resetbutton{
    justify-content: center;
    align-content: center;
    display: flex;
    background-color: #6C98E1;
    color: white;
    padding: 10px;
    padding-left: 50px;
    padding-right: 25px;
    margin-left: 20px;
    margin-top: 50px;
    width: 210px;
    font-family: fontContenu;
    text-transform: uppercase;
}


/*rendre le site responsive*/

.menu-toggle {
    display: none; /* Masque l'icône du hamburger sur les écrans larges */
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color:#6C98E1;
    margin: 4px 0;
  }
  
  .mobile-menu {
    display: none; /* Masque le menu de navigation par défaut */
  }

  .mobile-menu a{
    display: block;
    color: white;
  }
  .mobile-menu.active {
    display: inline-block;
  }
  .mobilemenu{

    display: none;
  }

  .d-flex-mobile{
    display: flex;
}
.articleimagemobile{
    min-width: 500px;
}

.articlebureau{
    justify-content: center; 
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
}
.articlebureaubis{
    justify-content: center;
     padding-left: 150px;
     padding-right: 150px;
     padding-top: 50px; 
     margin-bottom: 18px;

}

.secondarticlebureau{
    max-width: 500px;
}
.secondarticleimagebureau{
    max-width: 500px;
}

.d-flex-center-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

/*affichage prix page vente et location*/
.image-button {
    display:none
    
  }

  /*pour rechercher page vente tri*/
  .rechercher{
   padding-left: 20px;
  }
  .rechercherbis{
  margin-right: 10px;
  }

  .prixventelocation{
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
  }
  /* Styles pour afficher le menu sur les écrans étroits (via les media queries) */
  @media (max-width: 768px) {
    .menu-toggle {
      display: block; /* Affiche l'icône du hamburger sur les écrans étroits */

    }

    .fond{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

  

    .menu{
        display: none;
    }
    .gros{
        display: none;
    }
    .mobilemenu{
        background-color: black;
        width: 100%;
        min-height: 300px;
        display: block;
    }

    .mobile-menu{
        margin-top: 25px;
        margin-right: 5px;
    }

    .d-flex-right{
        display: flex;
        justify-content: end;
    }

    /*pour page vente*/
    .d-flex-right2{
        display: flex;
        justify-content: end;
       
    }

    .menu-toggle2{
        display: block; /* Affiche l'icône du hamburger sur les écrans étroits */
        margin-top: 50px;
      }
  
    .icone{
        display: block;  
        margin: 18px;
        border: solid 3px #FAB637;
        padding: 8px;
        width: 16px;
        border-radius: 50%;

  }
  .titre{
    margin-bottom: 0;
    display: flex;

}
.titrebas{
    margin-top: 0;
    display: flex;
}
.titremobile{
    color:white;
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding-left: 25px;
    white-space: normal;
    
}

.titremobile2{
    color:white;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 25px;  
    margin:0;
}

.articlemobile{
    display: block;
     padding-left:0;
     margin-right: 18px;
     padding-top: 50px;
     max-width: 100%;
}

.carrerouge{
    display: flex;
    border: none;
    background-color:#FF4848;
    width: 100%;
    height: 50%;
    padding: 18px;
    opacity: 75%;
    margin-top: 2em;
    justify-content: center;
    margin-bottom: 3.7em;
    margin-left: 0;
}
.carreorange{
    display: flex;
    border: none;
    background-color: #FAB637;
    width: 100%;
    height: 50%;
    padding: 18px;
    opacity: 80%;
    margin-top: 3em;
    justify-content: center;
}

.textearticle{
    display: block;
    height: 100%;
    width: 50%;
}

.d-flex-mobile{
    display: flex;
    flex-direction: column;
}
/*permet de dimensionner les images sur la version mobile*/

.articleimagemobile{
    width: 100%;
    min-width: 100%;
}

.articlebureau{
    justify-content: center; 
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.articlebureaubis{
justify-content: center;
 padding-left: 0px;
 padding-right: 0px;
 padding-top: 0px; 
 margin-bottom: 0px;
 width: 100%;
}


/*dimension des images de la page accueil*/
.secondarticlebureau{
   max-width: 100%;
   margin-left: 18px;
   
}
.secondarticleimagebureau{
    max-width: 100%
}

/*fin des dimensions des images présentes dans les articles de la page d'accueil*/


/*pour le titre de la partie pourquoi choisir*/
.choisirtitre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: fontTitre;
    margin-left: 30px;
}
/*sert a la partie pourquoi choisir pour la version mobile*/
.choisirbis{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*permet de dimensionner les icones présent dans la partie pourquoi choisir de la page accueil*/
.iconechoisir{
    color:#CC6119 ;
    padding-top: 20px;
    margin: 20px;

}

/*permet de dimensionner l'image de fond pour la version mobile*/
.fond2{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
}

.carreorange2{
    margin-left: 0;
    display: block;
    background-color:#FAB637 ;
    width: 100%;
    height: 300px;
    padding: 18px;
    opacity: 80%;
    padding: 25px;
 

}

/*dimensionne  les paragraphe disponibles dans les carrés de la page vente et location
.particle-ventelocation{
    display: block;
    font-family: fontContenu;
    font-size: 15px;
    max-width: 200px;
}

/*permet de dimensionner le titre présent dans les carrés vente ou location de véhicule*/
.titreventelocation{
    padding:0;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}
/*permet de définir le fond et la couleur d'écriture des éléments du footer*/
.footer{
    padding: 0;
    background-color: black;    
    color: #ECEFF3;
    min-height: 500px;
    margin-top: 0;

  }

  .footerd-block{
    display: block; 
    padding-top: 15px;
    padding-left: 18px;
    min-width: 300px; 
    margin-right: 35px;

}
.footerd-flex{
    display: flex;
    min-width:300px;
    padding-top:0;
}
/*permet de mettre les éléments contenus dans le footer en colonne*/
.d-flex-center-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}


/*fin page d'acceuil responsive*/


/*page vente responsive*/
/*Permet de mettre l'image en fond du mot vente ou location*/
.bandeauvente{
    background-image: url(../images/vente-location.jpg);
    height: 500px;
    width: 100%;
    
}
/*Permet de définir le mot vente/location */
.bandeauvente h1{
    margin-left: 75px;
    margin-top: 0%;
    padding-top: 150px;
    color: white;
    font-family: fontTitre;
    font-size: 70px;

}

/*Permet de mettre une ombre sur le contour*/
.contourrechercher{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left:30px ;
    height: 750px;
}

/*permet de definir les dimensions du carré rechercher*/
.contourdebord{
    min-width: 250px;
    margin-top: -20px;
}

/*pour la version mobile permet d'inverser la colonne rechercher et les card contenant les voitures disponible à la vente ou la location*/
.d-flex-center-simple{
    display: flex;
    flex-direction: column-reverse;
}



.voiturevente{
    width: 100%;
    height: auto;
}

/*bloc image*/
.voitureventebis{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    position: relative; /*div parent*/
}

.ventedescription{
    min-width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;

}




.image-container {
    position: relative; /* Permet de positionner les éléments enfants par rapport à ce conteneur */
    display: inline-block; /* Assure que le conteneur n'occupe que l'espace nécessaire autour de l'image */
  }
  
  .image-button {
    position: absolute; /* Permet de positionner le bouton par rapport au conteneur parent */
    bottom:0; /* Position verticale du bouton (en bas de l'image) */
    right: 48px; /* Position horizontale du bouton (à droite de l'image) */
    margin-bottom: 5px;
    height: 55px;
    background-color:#6C98E1; 
    color: white; 
    padding: 10px 20px; 
    border: none; /* Supprime la bordure du bouton */
    font-family: fontContenu;
    font-size: 18px;
    
  }


  /*pour la page contact*/

  .bodycontact{
    display: flex;
    flex-direction: column;
    background-image: url(..//images/vehicule3.jpg);
    background-size: cover;
    align-items: center;
    justify-items: center;
    min-height: 800px;
  }

  .contour{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    display: block;
    width: 90%;
    max-height: 500px;
    margin-top: 50px;
    margin-left: 20px;
}

.formulaire{
    margin: 5px;
    display: block;
    margin-right: 20px;
    min-width: 150px;
   
}

.boutonenvoyez{
    background-color: #6C98E1;
    color: white;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 50px;
    
}

.titrecontact{
    font-family: fontTitre;
    color: black;
    margin-left: 225px;

}

.message{
    display: block;
    padding-bottom: 0;
    min-height: 65px;
    min-width: 300px;
    resize: none;
}

.champformulaire{
    border: none;
    background-color:#ECEFF3 ;
    padding-left: 18px;
    height: 20px;
    width: 90%;

}

.ecritureformulaire{
    font-size: xx-small;
    font-family: titreContenu;
}


/*detail vehicule vente*/

.navigationdetail{
    background-color: #232628;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .textedescriptif{
    margin-left: 0px;
    margin-top: 18px;
    color:#232628 ;
    justify-content: center;
    font-family: fontContenu;
    font-size: x-small;
    width: 500px;
}

.imagedetailvente{
    display: block;
    justify-content: center;
    margin-left: 0px;
    width: 100%;
}
.renseignement{
    width: 100%;
}

.textenavigation{
    color:white;
    margin:10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    font-size: 30px;
    padding-left: 250px;
  }

  .textedescriptif{
    margin-left: 100px;
    margin-top: 18px;
    color:#232628 ;
    justify-content: center;
    font-family: fontContenu;
    font-size: 25px;
    width: 500px;
}

.d-flex-ventelocation{
    display: flex;
    align-items: center;
}

.d-flex-center-ventelocation{
    display: flex;
    align-items: center;
}

.rechercher{
    align-items: center;
}

.rechercher{
    display: block;
    justify-content: center;
}

.bandeaurechercher{
    justify-content: center;
}

.prixventelocation{
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
  }

  .d-flex-center-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.contourrecherchermobile{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left:30px ;
    height: 750px;
    margin-right: 25px;
}
}